body {
    height: 100vh;
    background: url(https://cdn.wallpapersafari.com/32/4/h5qBcv.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    display: flex;
    justify-content: center;
    background-color: white;
    width: 40%; 
    height: 50%; 
    position: relative;
    top: 25%;
    left: 30%;
    text-align: center;
    border-radius: 10px;
    overflow-y: auto;
}

header {
    position: absolute;
    font-weight: bold;
    font-size: 28px;
    line-height: 50px;
    color: rgb(254,135,111);
}

.question {
    font-weight: bold;
    font-size: 20px;
    line-height: 50px;
    color: rgb(83,97,181);
    position: absolute;
    top: 20%;
}

.inputText {
    border: 2px solid rgb(83,97,181);
    height: 35px;
    width: 50%;
    border-radius: 2px;
    position: relative;
    top: 50%;
}

.container input {
    font-size: 18px;
    padding-left: 15px
}

.button {
    position: absolute;
    background-color: rgb(254,135,111);
    border-radius: 5px;
    width: 20%; 
    height: 40px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    bottom: 10%;
}

.button:hover {
    color: #fff;
}

@media only screen and (max-width: 46.1875em) {
    .container {
        width: 90%;
        height:40%;
        left: 5%;
        top: 30%;
        overflow: auto;
    }

    header {
        font-size: 30px;
        line-height: 70px;
    }

    .question {
        font-size: 22px;
        line-height: 40px;
    }

    .inputText {
        height: 15%;
        width: 90%;
    }

    .button {
        height: 15%;
        width: 40%;
        font-size: 24px;
    }
}

@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
    .container {
        width: 80%;
        height:30%;
        left: 10%;
        top: 35%;
        overflow: auto;
    }

    header {
        font-size: 36px;
        line-height: 70px;
    }

    .question {
        font-size: 26px;
    }

    .inputText {
        height: 15%;
    }

    .button {
        height: 15%;
        width: 20%;
        font-size: 24px;
    }
}





